<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bank of Baroda</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<h1 align="center">Bank of Baroda</h1>
<h3>List of branches in banglore</h3>
<table class="table table-dark table-hover">

 <thead>
    <tr>
      <th scope="col">SLNO</th>
      <th scope="col">BRANCH NAME</th>
      <th scope="col">IFSC CODE</th>
      <th scope="col">CITY</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>BANASHANKARI</td>
      <td>BARB0BANASH</td>
      <td>BANGALORE</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>INDIRA NAGAR</td>
      <td>BARB0BANGBS</td>
      <td>BANGALORE</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >BRIGADE ROAD</td>
      <td>BARB0BRIGAD</td>
      <td>BANGALORE</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>HSR LAYOUT</td>
      <td>BARB0HSRBAN</td>
      <td>BANGALORE</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>JAYANAGAR</td>
      <td>BARB0JAYANA</td>
      <td>BANGALORE</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>J.P.NAGAR</td>
      <td>BARB0JPNAGA</td>
      <td>BANGALORE</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>KAMAKSHIPALY</td>
      <td>BARB0KAMBAN</td>
      <td>BANGALORE</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>MALLESWARAM</td>
      <td>BARB0MALLES</td>
      <td>BANGALORE</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>FRASER TOWN</td>
      <td>BARB0FRASER</td>
      <td>BANGALORE</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>BYRASANDRA</td>
      <td>BARB0BYRASA</td>
      <td>BANGALORE</td>
    </tr>
  </tbody>
  
</table>

</body>
</html>