<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bank of Baroda</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<h1 align="center">Bank of Baroda</h1>
<h3>Services Available</h3>
<table class="table table-dark table-hover">

 <thead>
    <tr>
      <th scope="col">SLNO</th>
      <th scope="col">SERVICE NAME</th>
      <th scope="col">DESCRIPTION</th>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Video based Life Certificate</td>
      <td>Video Based life Certificate updation service for Central & State Govt Pensioners.</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Atal Pension Yojna (APY)</td>
      <td>Aim to provide a steady stream of income after the age of 60 to all citizens of India</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Collection Services</td>
      <td>Settlement of transactions net value basis of instruments</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Custom Duty Payment</td>
      <td>Indian Customs Electronic Gateway (ICEGATE) Portal</td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>ECS</td>
      <td>Helping companies & institutions make heavy payments</td>
      
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>e-stamping</td>
      <td>Hassle-free alternative to physical stamp paper</td>
      
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>National Pension Scheme</td>
      <td>Voluntary and simple retirement savings scheme</td>
      
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Bank of Baroda - FinTalk</td>
      <td>Daily newsletters on Fintech, digitization and digital disruption</td>
      
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>One Time Settlement</td>
      <td>A digital platform to track one-time settlement/compromise cases</td>
      
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Fintech Alliance</td>
      <td>The Fintech Alliance. A Win-Win Situation for All</td>
      
    </tr>
  </tbody>
  
</table>

</body>
</html>